# .github/workflows/auto-release.yml
name: Auto Build and Release Binary

on:
  push:
    tags:
      - 'v*.*.*'  # Запускать рабочий процесс при пуше тегов вида v*.*.*

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install pyinstaller
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Build binary with PyInstaller
        run: |
          pyinstaller --onefile main.py

      - name: Archive build output
        run: |
          mkdir -p release
          mv dist/* release/
          zip -r release/release.zip release/

      - name: Verify release artifact
        run: ls -la release/

      - name: Create release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          body: |
            Changes in this release:
            - List your changes here
          draft: false
          prerelease: false

      - name: Upload release assets (binary)
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./release/release.zip
          asset_name: release.zip
          asset_content_type: application/zip
